<!DOCTYPE html>

{% load static %}
<html>
<head>
	<title>BEINGARTIFEX</title>
	<script
	  src="https://code.jquery.com/jquery-3.5.1.js"
	  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	  crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/explore.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
	
	<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5f39881781b2dd0012226b3d&product=inline-share-buttons" async="async"></script>
	<link rel="icon" href="{% static 'img/logo.png' %}" type="image/png"></head>
<body style="background-image: url( ' {% static 'img/styling/BACKGROUND.png' %} ' ); margin:0; padding:0;" >

	{% include 'include/navbar.html' %}
		
	<div id="container">
		
		{% include 'include/slider.html' %}
		<div id="content">
			<div class="row1 row">
				<div id="webDevelopment" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div">
					<div class="heading">
						<h3>Web Development</h3>
						<hr>
					</div>
					
					<div class="innerContent">
						<div class="row1 row">
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/webd/img1"><img src="{% static 'img/webDevelopment/SiteView0.png' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/webd/img2"><img src="{% static 'img/webDevelopment/SiteView1.png' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/webd/img3"><img src="{% static 'img/webDevelopment/SiteView2.png' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/webd/img4"><img src="{% static 'img/webDevelopment/SiteView3.png' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv">
									<a href="/explore/guide/webd" class="forMore">
										<h4>LEARN WEB DEVELOPMENT (Guide)</h4>
										<i class="fa fa-book" aria-hidden="true"></i>

									</a>
									
								</div>
							</div>
						</div>
						

							
					</div>
				</div>
			</div>
			
						

							
					
			<div class="row1 row">
				<div id="gameDevelopment" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div">
					<div class="heading">
						<h3>Robotics</h3>
						<hr>
					</div>
					
					<div class="innerContent">
						<div class="row1 row">
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/robo/img1"><img src="{% static 'img/robo/buzz.jpg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/robo/img2"><img src="{% static 'img/robo/line.jpg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/robo/img3"><img src="{% static 'img/robo/lift.jpg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv">
						<a href="/explore/guide/robo" class="forMore">
							<h4>LEARN ROBOTICS (Guide)</h4>
							<i class="fa fa-book" aria-hidden="true"></i>

						</a>
						
					</div>
							</div>
						</div>
						

							
					</div>
				</div>
			</div>
			<div class="row1 row">
				<div id="competitiveCoding" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div">
					<div class="heading">
						<h3>Programming Languages</h3>
						<hr>
					</div>
					
					<div class="innerContent">
						<div class="row1 row">
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/guide/cc"><img src="{% static 'img/competitiveCoding/cc1.jpg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/guide/cc"><img src="{% static 'img/competitiveCoding/cc2.jpg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/guide/cc"><img src="{% static 'img/competitiveCoding/cc3.jpg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv">
						<a href="/explore/guide/cc" class="forMore">
							<h4>LEARN PROGRAMMING (Guide)</h4>
							<i class="fa fa-book" aria-hidden="true"></i>

						</a>
						
					</div>
							</div>
						</div>
						

							
					</div>
				</div>
			</div>


			<div id="illustrator" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div">
				<div class="heading">
					<h3>Illustrator</h3>
					<hr>
				</div>
				
				<div class="innerContent">
					<div class="row1 row">
						<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
							<div class="subDiv "><a href="/explore/illustrator/img1"><img src="{% static 'img/illustrator/ai1.png' %}"></a>
								<div class="imageTag">
									<!-- <div class="explained comment">
										<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
										<div>EXPLAINED!</div>

									</div>
									<div class="like comment">
										<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
										<div>LIKE</div>

									</div>
									<div class="how comment">
										<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
										<div>HOW</div>

									</div> -->
									

								</div>
							</div>
						</div>
						<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
							<div class="subDiv "><a href="/explore/illustrator/img2"><img src="{% static 'img/illustrator/ai2.png' %}"></a>
								<div class="imageTag">
									<!-- <div class="explained comment">
										<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
										<div>EXPLAINED!</div>

									</div>
									<div class="like comment">
										<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
										<div>LIKE</div>

									</div>
									<div class="how comment">
										<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
										<div>HOW</div>

									</div> -->
									

								</div>
							</div>
						</div>
						<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
							<div class="subDiv "><a href="/explore/illustrator/img3"><img src="{% static 'img/illustrator/ai3.jpg' %}"></a>
								<div class="imageTag">
									<!-- <div class="explained comment">
										<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
										<div>EXPLAINED!</div>

									</div>
									<div class="like comment">
										<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
										<div>LIKE</div>

									</div>
									<div class="how comment">
										<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
										<div>HOW</div>

									</div> -->
									

								</div>
							</div>
						</div>
						<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
							<div class="subDiv "><a href="/explore/illustrator/img4"><img src="{% static 'img/illustrator/ai4.png' %}"></a>
								<div class="imageTag">
									<!-- <div class="explained comment">
										<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
										<div>EXPLAINED!</div>

									</div>
									<div class="like comment">
										<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
										<div>LIKE</div>

									</div>
									<div class="how comment">
										<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
										<div>HOW</div>

									</div> -->
									

								</div>
							</div>
						</div>
						<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
							<div class="subDiv "><a href="/explore/illustrator/img5"><img src="{% static 'img/illustrator/ai5.png' %}"></a>
								<div class="imageTag">
									<!-- <div class="explained comment">
										<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
										<div>EXPLAINED!</div>

									</div>
									<div class="like comment">
										<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
										<div>LIKE</div>

									</div>
									<div class="how comment">
										<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
										<div>HOW</div>

									</div> -->
									

								</div>
							</div>
						</div>
						<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
							<div class="subDiv "><a href="/explore/illustrator/img6"><img src="{% static 'img/illustrator/ai6.png' %}"></a>
								<div class="imageTag">
									<!-- <div class="explained comment">
										<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
										<div>EXPLAINED!</div>

									</div>
									<div class="like comment">
										<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
										<div>LIKE</div>

									</div>
									<div class="how comment">
										<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
										<div>HOW</div>

									</div> -->
									

								</div>
							</div>
						</div>
						<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
							<div class="subDiv "><a href="/explore/illustrator/img7"><img src="{% static 'img/illustrator/ai7.jpg' %}"></a>
								<div class="imageTag">
									<!-- <div class="explained comment">
										<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
										<div>EXPLAINED!</div>

									</div>
									<div class="like comment">
										<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
										<div>LIKE</div>

									</div>
									<div class="how comment">
										<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
										<div>HOW</div>

									</div> -->
									

								</div>
							</div>
						</div>
						<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
							<div class="subDiv">
					<a href="/explore/guide/illustrator" class="forMore">
						<h4>LEARN ILLUSTRATOR (Guide)</h4>
						<i class="fa fa-book" aria-hidden="true"></i>

					</a>
					
				</div>
						</div>
					</div>
					

						
				</div>
			</div>
		</div>
		





			<div class="row1 row">
				<div id="photoshop" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div">
					<div class="heading">
						<h3>Photoshop</h3>
						<hr>
					</div>
					
					<div class="innerContent">
						<div class="row1 row">
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/photoshop/img1"><img src="{% static 'img/photoshop/ps1.jpg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/photoshop/img2"><img src="{% static 'img/photoshop/ps2.jpg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/photoshop/img3"><img src="{% static 'img/photoshop/ps3.jpg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/photoshop/img4"><img src="{% static 'img/photoshop/ps4.jpg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/photoshop/img5"><img src="{% static 'img/photoshop/ps5.jpg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/photoshop/img6"><img src="{% static 'img/photoshop/ps6.jpg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/photoshop/img7"><img src="{% static 'img/photoshop/ps7.jpg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv">
						<a href="/explore/guide/photoshop" class="forMore">
							<h4>LEARN PHOTOSHOP (Guide)</h4>
							<i class="fa fa-book" aria-hidden="true"></i>

						</a>
						
					</div>
								</div>
							</div>
							</div>
						</div>
						

							
					</div>
				
			
				
			<div class="row1 row">
				<div id="photography" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div">
					<div class="heading">
						<h3>Photography</h3>
						<hr>
					</div>
					
					<div class="innerContent">
						<div class="row1 row">
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/photography/img1"><img src="{% static 'img/photography/pht1.jpeg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/photography/img2"><img src="{% static 'img/photography/pht2.jpeg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/photography/img3"><img src="{% static 'img/photography/pht3.jpeg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/photography/img4"><img src="{% static 'img/photography/pht4.jpeg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/photography/img5"><img src="{% static 'img/photography/pht5.jpeg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/photography/img6"><img src="{% static 'img/photography/pht6.jpeg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv "><a href="/explore/photography/img7"><img src="{% static 'img/photography/pht7.jpeg' %}"></a>
									<div class="imageTag">
										<!-- <div class="explained comment">
											<div><i class="fa fa-lightbulb-o bulbImage" aria-hidden="true"></i>   <span class="bulbText">0</span></div>
											<div>EXPLAINED!</div>

										</div>
										<div class="like comment">
											<div><i class="fa fa-thumbs-up likeImage" aria-hidden="true"></i>   <span class="likeText">0</span></div>
											<div>LIKE</div>

										</div>
										<div class="how comment">
											<div><i class="fa fa-question howImage" aria-hidden="true howText"></i>   <span class="howText">0</span></div>
											<div>HOW</div>

										</div> -->
										

									</div>
								</div>
							</div>
							<div class="innerPart col-lg-3 col-md-4 col-sm-6 col-lg-xs-12">
								<div class="subDiv">
						<a href="/explore/guide/photography" class="forMore">
							<h4>LEARN PHOTOGRAPHY (Guide)</h4>
							<i class="fa fa-book" aria-hidden="true"></i>

						</a>
						
					</div>
							</div>
						</div>
						

							
					</div>
				</div>
			</div>

			
			

		</div>




		{% include 'include/footer.html' %}  

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5f384acf4c7806354da6ad50/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>

<script type="text/javascript" src="{% static 'js/explore.js' %}"></script>
</html>