<!DOCTYPE html>
{% load static %}
    <html>
    <head>
    	<title>BEINGARTIFEX</title>
    	<script
    	  src="https://code.jquery.com/jquery-3.5.1.js"
    	  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    	  crossorigin="anonymous"></script>
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    	<!-- JS, Popper.js, and jQuery -->
    	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="stylesheet" type="text/css" href="{% static 'css/basicPage.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5f39881781b2dd0012226b3d&product=inline-share-buttons" async="async"></script>
	<link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
	</head>
    <body style="background-image: url( ' {% static 'img/styling/BACKGROUND.png' %} ' ); margin:0; padding:0;" >

		{% include 'include/navbar.html' %}
		
    	<div id="container">

    	</div>

	<div class="album">
	 <img src="{% static 'img/pic.png' %}">
	        <div class="top">
	               <a href="/explore"><input class="butnexplore" type="submit" value="EXPLORE"  name="submit"></a>
	               <!-- <a href="login.html"><input class="butnlogin" type="submit" value="LOGIN"  name="submit"></a> -->
	       </div>
	  </div>
	<div class="handle">
          <div class="choice">
	                      <div class="content">
	                             <h3>Why BEINGARTIFEX ?</h3>
	                                             	<br>
		                                             <p>Education doesn’t have to be expensive — BeingArtifex offers free courses to brush up on your IT skills that require nothing more than an internet connection and a laptop or smartphone. To stay on the top of developing trends and technologies, all you need to do is explore and dip your toe into new topics. (you can add a few here) Whether you’re just starting out, trying to beef up your resume, thinking of changing the direction of your career, or just looking to stay ahead in the technology curve, BeingArtifex is here to help all the way without making you break the bank! 
                                                  		With our courses, assessments and learning paths authored by experts, our platform aims to help individuals and businesses build reliable products, speed up release cycles and to transform at scale.
                                                  		Arrive at your goals faster, with more confidence and at your own pace!
		                                               </p><br>

	                               </div>
           </div>
	 </div>
	 <div class="footer">
	              <h1 >HELP US GROW</h1><br>
				  <p>So, are you taking advantage of BeingArtifex yet? 
Our courses, insights, and consulting can help you come out of your tech dilemmas!

Know a friend who might want to take part in this with you? You can do this via email and social media
				</p>
            <div class="top">
					<div class="sharethis-inline-share-buttons"><input class="butndonate" type="submit" value="share"  name="submit"></div><br>
	               <a href="https://rzp.io/l/Kd8iCaY" class="link"><input class="butndonate" type="submit" value="DONATE"  name="submit"></a>
	       </div>
	 </div>
	 <div class="footer">
	              <h1 >About Us</h1><br>
				  <p>Beingartifex is an online soft skill development platform run by a group of students from IIT Dhanbad.Guides and contents of a bunch of courses and projects are available here .

 You can have a conversation individually with the developer if you are stuck at a specific point while following the guide Or for any queries. 

We are at Artifex will be providing  proper guidance for your continuous learning which will keep you going in the right direction…
  You’re in the driver’s seat. Join thousands of  students crafting a unique learning experience to help them get where they want to go.

Happy learning!
(Team Artifex)
Having queries? Contact us, we at Artifex are here to help and guide you to your way to success !!
				</p>

	 </div>

	 {% include 'include/footer.html' %}

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5f384acf4c7806354da6ad50/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
<script type="text/javascript" src="{% static 'js/basicPage.js' %}"></script>
</html>
