 <!-- navbar -->
 {% load static %}
 <div id="navbarBase">
  <div id="navbarContainer">
    <nav class="navbar navbar-expand-md navbar-dark">
      <div class=" w-100 order-1 order-md-0 ">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"> <img src="{% static 'img/logo.png' %}"></a>
          </li>
          <a href="/">
            <li class="homeText nav-item ">
              BEINGARTIFEX
            </li>
          </a>
          <div class="navbar-nav ml-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </ul>
      </div>

      <div class="dual-collapse2 collapse navbar-collapse w-100 order-3 ">
        <ul class="list1 navbar-nav ml-auto">
            <li class="rightNav nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="rightNav nav-item">
                <a class="nav-link" href="/explore">Explore</a>
            </li>
            <li class="rightNav nav-item">
              <a class="nav-link" href="#">
                <div class="dropdown">
                  <button class="dropbtn">Support Us</button>
                  <div class="dropdown-content">
                    <a href="https://rzp.io/l/Kd8iCaY" class="link">Donate</a>
                    <div class="sharethis-inline-share-buttons"></div>
                  </div>
                </div>
              </a>
            </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
  <!-- navbar end -->