{% load static %}
<div id="imageshow">

    <div><a href="/explore/guide/webd"><img src="{% static 'img/SLIDE SHOW IMAGES/MWDPSD.png' %}"></a>
        <div class="displayButton">
            <i class="fa fa-circle toggleFont" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
    </div>
    <div><a href="/explore/guide/robo"><img src="{% static 'img/SLIDE SHOW IMAGES/MR.png' %}"></a>
        <div class="displayButton">
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle toggleFont" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            
        </div>
    </div>
    <div><a href="/explore/guide/cc"><img src="{% static 'img/SLIDE SHOW IMAGES/MC++.png' %}"></a>
        <div class="displayButton">
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle toggleFont" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
    </div>
    <div><a href="/explore/guide/photoshop"><img src="{% static 'img/SLIDE SHOW IMAGES/MPS.png' %}"></a>
        <div class="displayButton">
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle toggleFont" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
    </div>
    <div><a href="/explore/guide/illustrator"><img src="{% static 'img/SLIDE SHOW IMAGES/MAI.png' %}"></a>
        <div class="displayButton">
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle toggleFont" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
    </div>
    <div><a href="/explore/guide/photography"><img src="{% static 'img/SLIDE SHOW IMAGES/MPG.png' %}"></a>
        <div class="displayButton">
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle toggleFont" aria-hidden="true"></i>
        </div>
    </div>
    
    
</div>